

 <table style="vertical-align:center; width:100%; text-align:center; opacity:0.8" id="apps">
 <Tr>
  <% for(var i in apps){ %>
  
        <% if(i%3==0){ %>
         </tr><tr>
        <% } %>
  
        <td >
            <a href="<%= apps[i].appLaunchUrl %>" >
        <img style="max-width:100px; border:none;" src="<%= apps[i].icons[apps[i].icons.length-1].url %>"/><br/>
        <%= apps[i].name %>
            </a>     
         </td>    
  
  
  <% } %>
  </tr>
 </table>
