<table style="height:25%; width:100%;">
<tr>
<Td id="mostgraph">
</td>
<td id="piegraphold">
</td>
</tr>
</table>
<span id="timegraph" style="position:absolute; bottom:100px; width:80%;"></span>
<span id="fblist" style="position:absolute; bottom:100px; left:84%; width:15%; text-align:bottom;"></span>
